{% extends 'base.html.twig' %}

{% block title %}{{ 'Vocabulary Index'|trans }}{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ 'Vocabulary Index'|trans }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-end mb-3">
        {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\TaxonomyVoterInterface::TAXONOMY_ADD_TERM_VOCABULARY')) %}
          <a class="btn btn-primary" href="{{ path('pixiekat_symfony_helpers_taxonomy_vocabulary_add') }}">{{ 'Add New Vocabulary'|trans }}</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{ 'Label'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Locked'|trans }}</th>
                <th>{{ 'Enabled'|trans }}</th>
                <th>{{ 'Number of Terms'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
              </tr>
            </thead>
            <tbody>
              {% if vocabularies is not empty %}
                {% for vocabulary in vocabularies %}
                  <tr>
                    <td>{{ vocabulary.labelName }}</td>
                    <td>{{ vocabulary.name }}</td>
                    <td>{{ vocabulary.description }}</td>
                    <td>{{ vocabulary.locked ? 'Locked'|trans : 'Unlocked'|trans }}</td>
                    <td>{{ vocabulary.enabled ? 'Enabled'|trans : 'Disabled'|trans }}</td>
                    <td>{{ vocabulary.terms|length }}</td>
                    <td>
                      {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\TaxonomyVoterInterface::TAXONOMY_EDIT_TERM_VOCABULARY'), vocabulary) %}
                        <a class="btn btn-primary" href="{{ path('pixiekat_symfony_helpers_taxonomy_vocabulary_edit', { 'vocabulary': vocabulary.id }) }}">Edit</a>
                      {% endif %}
                      {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\TaxonomyVoterInterface::TAXONOMY_LIST_TERMS'), vocabulary) %}
                        <a class="btn btn-primary" href="{{ path('pixiekat_symfony_helpers_taxonomy_term_list', { 'vocabulary': vocabulary.id }) }}">{{ 'View Terms'|trans }}</a>
                      {% endif %}
                      {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\TaxonomyVoterInterface::TAXONOMY_ADD_TERM_VOCABULARY')) %}
                        <a class="btn btn-primary" href="{{ path('pixiekat_symfony_helpers_taxonomy_term_add', { 'vocabulary': vocabulary.id }) }}">{{ 'Add New Term to Vocabulary %vocabulary'|trans({'%vocabulary': vocabulary.labelName}) }}</a>
                      {% endif %}
                      {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\TaxonomyVoterInterface::TAXONOMY_REMOVE_TERM_VOCABULARY')) %}
                        {% if not vocabulary.isLocked %}
                          <a class="btn btn-danger" href="{{ path('pixiekat_symfony_helpers_taxonomy_vocabulary_delete', { 'vocabulary': vocabulary.id }) }}">Delete</a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="6">{{ 'No vocabularies found.'|trans }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
