{% extends 'base.html.twig' %}

{% block title %}Banned IP Addresses{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Banned IP Addresses</h1>

        <div class="table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>IP Address</th>
                <th>Created At</th>
                <th>Expires At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for ban in bans %}
                <tr>
                  <td>{{ ban.ipAddress }}</td>
                  <td>{{ ban.createdAt|date('Y-m-d H:i:s') }}</td>
                  <td>{{ ban.expiresAt ? ban.expiresAt|date('Y-m-d H:i:s') : 'Never' }}</td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                      <div class="dropdown-menu">
                        {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\BanVoterInterface::BAN_EDIT_BAN'), ban) %}
                          <a class="dropdown-item" href="{{ path('pixiekat_symfony_helpers_ban_edit', { 'id': ban.id }) }}">Edit</a>
                        {% endif %}
                        {% if is_granted(constant('Pixiekat\\SymfonyHelpers\\Interfaces\\Security\\Voter\\BanVoterInterface::BAN_REMOVE_BAN'), ban) %}
                          <a class="dropdown-item" href="{{ path('pixiekat_symfony_helpers_ban_remove', { 'id': ban.id }) }}">Delete</a>
                        {% endif %}
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <a href="{{ path('pixiekat_symfony_helpers_ban_add') }}">Add New Ban</a>
{% endblock %}
