{% extends 'base.html.twig' %}

{% block title %}Banned IP Addresses{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Banned IP Addresses</h1>

        <table>
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Created At</th>
                    <th>Expires At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {{ dump(bans) }}
                {% for ban in bans %}
                    <tr>
                        <td>{{ ban.ipAddress }}</td>
                        <td>{{ ban.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ ban.expiresAt ? ban.expiresAt|date('Y-m-d H:i:s') : 'Never' }}</td>
                        <td>{#<a href="{{ path('ban_delete', { 'id': ban.id }) }}">Delete</a>#}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>

  {#<a href="{{ path('ban_create') }}">Add New Ban</a>#}
{% endblock %}
